* {
    margin: 0;
    padding: 0;
}

body {

    font-family: 'Poppins', sans-serif;
}


/* Top Banner  Section start*/
.top-banner {
    display: flex;
    justify-content: space-evenly;
    background-color: #161616;
    color: #FFFFFF;
    margin: 40px 60px;
    padding: 60px 5px;
    border-radius: 15px;
}

.top-banner h1 {
    font-size: 70px;
}

.banner-description {
    width: 50%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.anchor-button {
    width: 25%;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #DD0000;
    padding: 25px;
    border-radius: 5px;
    color: white;
    font-size: larger;
    font-weight: 700;
    transition: background-color 2s ease;
}

.anchor-button:hover {
    background-color: yellow;
}

.fa-angle-right {
    margin-left: 10px;
}

.banner-img {
    width: 50%;

}

.banner-img img {
    width: 100%;
}

/* Top Banner  Section end*/


/* Main-one  */

.main-one {
    margin: 40px 60px;
    padding: 60px 5px;
    border-radius: 15px;
    display: flex;
    gap: 20px;
}

.three-button {
    text-align: center;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.three-button a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 600;
}

.button-one {
    width: 252px;
    height: 64px;
    margin: 20px 30px;
    border-radius: 10px;
    font-size: 20px;

}

.button-two {
    width: 252px;
    height: 64px;
    margin: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
}

.button-three {
    width: 252px;
    height: 64px;
    margin: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #DD0000;
    color: #FFFFFF;
}



.player-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.player {
    display: flex;
    flex-direction: column;
}

.player img {
    width: 100%;
    margin-bottom: 10px;
}

.player button {
    width: 32%;
    padding: 12px;
    font-size: larger;
    border-radius: 10px;
}

.fa-clock {
    color: grey;
    margin-right: 5px;
}

.fa-message {
    color: gray;
    margin-right: 5px;
    margin-left: 10px;
}

.view-all {
    width: 35%;
    margin: 30px;
    margin-left: 100%;
    padding: 20px;
    background-color: #DD0000;
    color: #FFFFFF;
    font-size: larger;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: center;
    display: none;
}

/* Footer  */

.footer {
    /* height: 444px; */
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 150px 100px 150px;
}

.footer h1 {

    font-size: 70px;


}

.horizontal-line {
    /* width: 75%; */
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: #B9B9B9;
    font-size: larger;
}

.social-icons {}

.social-icons .fab {
    color: #FFFFFF;
    margin: 20px 10px;
    font-size: larger;
}

/* For Mobile Device  */
@media screen and (max-width: 576px) {
    .top-banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;
    }

    .banner-description {
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .banner-img img {
        width: 150%;
        display: block;
    }

    .main-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;

    }

    .player-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* For Tablet Device  */
@media screen and (min-width:577) and (max-width:992px) {
    .main-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;

    }

    .three-button {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
    }

    .player-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150%;
    }

    .footer-menu {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .view-all {
        display: inline;
    }
}