body {
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    width: 1321px;
    height: 646px;
    margin: 30px 60px;
    border-radius: 10px;
    background-color: #161616;
    color: #FFFFFF;

}

.top-banner h1 {
    font-size: 70px;
}

.banner-button {
    background-color: #DD0000;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    font-size: larger;
}

.fa-youtube {
    font-size: larger;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 116%;
}



.transfer {
    width: 1321px;
}

.three-button {
    text-align: center;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.button-one {
    width: 252px;
    height: 64px;
    margin: 20px 30px;
    border-radius: 10px;
    font-size: 20px;

}

.button-two {
    width: 252px;
    height: 64px;
    margin: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
}

.button-three {
    width: 252px;
    height: 64px;
    margin: 20px 30px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #DD0000;
    color: #FFFFFF;
}